body {
    margin: 0 auto;
    background-color: #fff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}



@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto-Light.ttf) format("truetype")
}



@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf) format("truetype")
}



h1{
  font-family: "Roboto-Bold";
}

h2{
    font-family: "Roboto-Light";
}

p{
    font-family: "Roboto-Light";	
    }

    a{
        font-family: "Roboto-Light";	
        }


        .fila1Capa1Body {
            position: relative;
            width: 100%;
            height: 100px;


        }

        .fila2Capa1Body {
            display: flex;
            flex-wrap: wrap; 
            gap: 25px; /*para o quitar dar mas espacio entre columnas aplica el mismo espacio para la verticalizacion*/
            width: 60%; /* El contenedor externo ocupa el 80% del ancho de la pantalla */
            margin: 0 auto; 
          }
      
          .col2Fila2 {
            flex: 1;
            /*flex: 2 1 200px;*/
          
            padding: 0px;/*es espaciado general para los elementos dentro de la columna*/
            margin: 0px;/*es margen general para la columna de acuerdo al borde del contenedor*/
            box-sizing: border-box;
          }

          .img1Capa1{position: relative; width: 100%; height: auto; }

          .txt1Capa1Body{
            font-size: 1.5em;
            width: 70%;
          }

          .txt2Capa1Body{
            font-size: 1.5em;
          }

          .btnDespa{width: 100%; height: 80px; font-size: 1.5em; outline: none; border: none; background-color: #f44343; color: #fff; cursor: pointer; }

          .btnDespa:hover{ background-color: #000;}
      
          @media (max-width: 1200px) {
            /* Aplicar estilos específicos para pantallas con un ancho máximo de 600px */
            .col2Fila2 {
              flex-basis: 100%; /* Hacer que las columnas ocupen el 100% del ancho en pantallas pequeñas */
            }
          }     
          
    


          @media screen and (min-width: 1px) and (max-width: 360px) {

            .fila2Capa1Body{width: 90%;}
        
        
           }



#capa2{
  position: relative;
  width: 100%;
  height: auto; background-color: #eeeeee;
}



.fila1Capa2Body{position: relative; width: 100%; height: 50px;}
.txt1Capa2{text-align: center; font-size: 2.5em;}

.contTxt2Capa2 {width: 40%;margin: 0 auto;}
.txt2Capa2{text-align: center; font-size: 1.3em;}
@media (max-width: 600px) {
  .contTxt2Capa2 {width: 70%;margin: 0 auto;}
}   



.fila2Capa2Body {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; /*para o quitar dar mas espacio entre columnas aplica el mismo espacio para la verticalizacion*/
  width: 80%; /* El contenedor externo ocupa el 80% del ancho de la pantalla */
  margin: 0 auto;
}

.col1Capa2Body {
  flex: 1;
  /*flex: 2 1 200px;*/
  background-color: #f44343;
  padding: 0px;/*es espaciado general para los elementos dentro de la columna*/
  margin: 10px;/*es margen general para la columna de acuerdo al borde del contenedor*/
  box-sizing: border-box; text-align: center; color: #fff; 
}

.col1Capa2Body a {
  text-decoration: none;color: inherit;
}

@media (max-width: 600px) {
  /* Aplicar estilos específicos para pantallas con un ancho máximo de 600px */
  .col1Capa2Body {
    flex-basis: 100%; /* Hacer que las columnas ocupen el 100% del ancho en pantallas pequeñas */
  }
}


#capa3Body{
  position: relative;
  width: 100%;
}



.fila1Capa3 {
  background-color: #000;
  padding: 20px;
  box-sizing: border-box;
  display: flex;flex-direction: column;
  align-items: center; /* Centra verticalmente */
  justify-content: center;
  height: 400px; background-image: url(../imagenes/img2Home.png); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;
}

.centered-text {
  margin: 0; /* Elimina el margen predeterminado del párrafo */text-align: center;
}

.title {
  margin: 0; /* Elimina el margen predeterminado del encabezado */ color: #fff;
}

.text {
  margin: 0; /* Elimina el margen predeterminado del párrafo */  color: #fff; width: 70%; font-size: 1.2em;
}